# exclude binaries and debug output
.vs/
bin/
debug/
x64/

# exclude external libraries
FrameWork/
minhook/
imgui/
*Roboto-Bold.h
*xorstr.hpp
*initialize.hpp

# exclude personal settings
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
